
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
      background: linear-gradient(-45deg, #f3d007, #0a1cc0dc,  #f3d007, #0a1cc0dc);

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}



:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.header-image{
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  z-index: 4000;
    background: linear-gradient(-45deg, #f3d007, #0a1cc0dc,  #f3d007, #0a1cc0dc);
	background-size: 400% 400%;

	animation: gradient 15s ease infinite;


}

.search-form{
  display: flex;
  justify-content: center;
  gap:20px;
}
input,.btn{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  border:none;
    box-shadow: 1px 4px 10px 0px rgba(111, 15, 115, 0.2),
		5px 6px 10px 0px rgba(20, 1, 135, 0.85);
}

.btn{
  color: white;
background-color: rgb(228, 151, 120);
}
input:hover,input:focus{
      box-shadow: 1px 4px 10px 0px rgba(111, 15, 115, 0.2),
		0px 2px 10px 5px rgba(20, 1, 135, 0.85);

}

.btn:hover{
  border-color: #212121;
  background-color: red ;
      box-shadow: 1px 4px 10px 0px rgba(111, 15, 115, 0.2),
		0px 2px 10px 5px rgba(20, 1, 135, 0.85);

}

.section-gallery{
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

}

.gallery-container{
	display: flex;
	flex-wrap: wrap; 
  justify-content: center;
  gap:15px;
  margin-bottom: 40px;
}


.gallery__item {
  position: relative;
    box-shadow: 4px 6px 16px 0px rgba(111, 15, 115, 0.2),
		5px 6px 11px 0px rgba(20, 1, 135, 0.85);

    	overflow: hidden;
	border-radius: 5px;

}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.thumb{
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}




.gallery__image {
  height: 100%;
  width: 100%; 
  transition: transform var(--animation-duration) var(--timing-function); 
}
 .gallery__image:hover {
  transform: scale(1.03);
}





.sl-image {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 4px 6px 16px 0px rgba(111, 15, 115, 0.2),
		5px 6px 11px 0px rgba(20, 1, 135, 0.85);
}

/* .largeImg{
  border-radius: 5px;
} */

.photo-card{
  width: 300px;
  min-height: 350px;
	display: flex;
	flex-wrap: wrap;
  box-shadow: 4px 6px 16px 0px rgba(111, 15, 115, 0.2),
  5px 6px 11px 0px rgba(20, 1, 135, 0.85);
  background-color: aliceblue;

  border-radius: 5px;
  overflow: hidden;

}

/* -------------scroll */


